In [128]:
x = int(input("몇단을 출력하시겠습니다?"))

for i in range(1, 9):
    #print(str(x) + ' * ' + str(i) + ' = ' + str(x*i))
    print(f'{x} * {i} = {x*i}')

몇단을 출력하시겠습니다?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [121]:
type(x)

int

In [136]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountian']
new_word = []

for value in word:
    if len(value) >= 6:
        new_word.append(value)
        
print(new_word)

['school', 'science', 'mountian']

In [142]:
for x in range(2,10):
    for y in range(1,10):
        print(f'{x} * {y} = {x * y}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#1 [3, 6, 9, 20, -7, 5]
#2 [3, 6, 9, 20, -7, 5]
#3 [3, 6, 9, 20, -7, 5]
#4 [-7, 6, 9, 20, 3, 5]
#5 [-7, 6, 9, 20, 3, 5]

#1 [-7, 6, 9, 20, 3, 5]
#2 [-7, 6, 9, 20, 3, 5]
#3 [-7, 3, 9, 20, 6, 5]
#4 [-7, 3, 9, 20, 6, 5]

#1 [-7, 3, 9, 20, 6, 5]
#2 [-7, 3, 6, 20, 9, 5]
#2 [-7, 3, 5, 20, 9, 6]

In [164]:
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x)):
    for j in range(i + 1,len(x)):
        if x[i] > x[j]:            
            temp = x[i]
            x[i] = x[j]
            x[j] = temp
            
x

[-7, 3, 5, 6, 9, 20]

In [177]:
for i in range(1, 101):    
    if i % 3 == 0 and i % 5 == 0:
        print('3과 5의 공배수')
    elif i % 3 == 0:
        print('3의배수')
    elif i % 5 == 0:
        print('5의배수')
    else:
        print(i)

1
2
3의배수
4
5의배수
3의배수
7
8
3의배수
5의배수
11
3의배수
13
14
3과 5의 공배수
16
17
3의배수
19
5의배수
3의배수
22
23
3의배수
5의배수
26
3의배수
28
29
3과 5의 공배수
31
32
3의배수
34
5의배수
3의배수
37
38
3의배수
5의배수
41
3의배수
43
44
3과 5의 공배수
46
47
3의배수
49
5의배수
3의배수
52
53
3의배수
5의배수
56
3의배수
58
59
3과 5의 공배수
61
62
3의배수
64
5의배수
3의배수
67
68
3의배수
5의배수
71
3의배수
73
74
3과 5의 공배수
76
77
3의배수
79
5의배수
3의배수
82
83
3의배수
5의배수
86
3의배수
88
89
3과 5의 공배수
91
92
3의배수
94
5의배수
3의배수
97
98
3의배수
5의배수