# 실습 01

In [13]:
for value in range(10,20):
    print("안녕하세요", value)

안녕하세요 10
안녕하세요 11
안녕하세요 12
안녕하세요 13
안녕하세요 14
안녕하세요 15
안녕하세요 16
안녕하세요 17
안녕하세요 18
안녕하세요 19

In [23]:
x = [3, 6, 9, 20, -7,5]

# x[0] = x[0] * 10
# x[1] = x[1] * 10
# x[2] = x[2] * 10
# x[3] = x[3] * 10
# x[4] = x[4] * 10
# x[5] = x[5] * 10


for idx, value in enumerate(x):
    #print(idx, value)
    x[idx] = x[idx] * 10
    
x

[30, 60, 90, 200, -70, 50]

In [31]:
x = [3, 6, 9, 20, -7,5, 23]

for idx in range(len(x)):
    #print(idx, value)
    x[idx] = x[idx] * 10
    
x

[30, 60, 90, 200, -70, 50, 230]

In [32]:
x = [3, 6, 9, 20, -7,5]

list(range(len(x)))

[0, 1, 2, 3, 4, 5]

In [34]:
x = [3, 6, 9, 20, -7,5]
list(enumerate(x))

[(0, 3), (1, 6), (2, 9), (3, 20), (4, -7), (5, 5)]

In [16]:
x = [3,6,9,20,-7,5]

for idx,val in enumerate(x):
    x[idx] = x[idx] *10

In [17]:
x

[30, 60, 90, 200, -70, 50]

In [36]:
y = {"math":70, "science":80, "english":20}

# y['math'] += 10
# y['science'] += 10
# y['english'] += 10

for idx in y:
    y[idx] = y[idx] +10

In [37]:
y

{'math': 80, 'science': 90, 'english': 30}

In [40]:
#    0  1  2   3    4    5
x = [3, 6, 9, 20, -7,5, 23]
y = {
    "math":70,
    "science":80,
    "english":20
}



#x[1]
y['science']

80

In [4]:
x = 1
y = 2

print(str(x) + ' X ' + str(y))
print(f'{x} X {y} = {x*y}')

1 X 2
1 X 2 = 2

In [9]:
z = int(input('몇단을 출력하시겠습니까?  :'))

for num in range(1,9) :    
    
    print(f'{z} * {num} = {num*z}')
#     print(str(z)+'*'+str(num)+'='+str'num+z')

몇단을 출력하시겠습니까?  :3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [8]:
gugudan = int(input('몇단을 출력하시겠습니까?  :'))

for num in range(1,10) :   
    
    print(f'{gugudan} * {num} = {num*gugudan}')

몇단을 출력하시겠습니까?  :3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

# 실습 02

In [16]:
word = ['school','game','piano','science','hotel','mountian']

for value in word :
#     print(value)
    printl(len(value))

NameError: name 'printl' is not defined

In [21]:
word = ['school','game','piano','science','hotel','mountian']
new_word =[]

for value in word :
    
    if len(value) >= 6 :
        new_word.append(value)
print(new_word)

['school', 'science', 'mountian']

In [23]:
for x in range(1,10):
    for y in range(1,10):
        print(f'{x} * {y} = {x*y}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [5]:
gugudan = int(input('몇단을 출력하시겠습니까?  :'))

for num in range(1,10) :   
    
    print(f'{gugudan} * {num} = {num*gugudan}')

몇단을 출력하시겠습니까?  :1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [1]:
text ='1234'

In [2]:
int(text) + 5

1239

In [4]:
x = 10
x +=10

In [ ]:
def test():
    return true

In [24]:
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x)) :
    for j in range(i+1, len(x)) :
        if x[i]>x[j]:
            print(x[i],x[j])

3 -7
6 -7
6 5
9 -7
9 5
20 -7
20 5

In [28]:
x = [3, 6, 9, 20, -7, 5]

In [29]:
temp = x[0]
x[0] = x[1]
x[1] = temp

In [30]:
x

[6, 3, 9, 20, -7, 5]

## 실습 3-2

In [48]:
for i in range(1, 101):
    if i % 3 == 0 and  i % 5 ==0:
        print('3과 5의 공배수')
    elif i % 3 == 0:
        print('3의 배수')
    elif i % 5 ==0:
        print('5의 배수')
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수