## 실습 1

In [2]:
text = str('오늘은 아침부터 저는 자바공부를 열심히 하고 있습니다. 자바는 재미있습니다.')

In [3]:
text

'오늘은 아침부터 저는 자바공부를 열심히 하고 있습니다. 자바는 재미있습니다.'

In [4]:
text.replace("자바","파이썬")

'오늘은 아침부터 저는 파이썬공부를 열심히 하고 있습니다. 파이썬는 재미있습니다.'

## 실습 2

In [6]:
students =[]

name = input('이름을 입력하세요 :')
math = int(input('수학점수를 입력해주세요 :'))
english = int(input('영어점수를 입력해주세요 :'))

student = {
    'name':name,
    'math':math,
    'english':english
}

students.append(student)

student

이름을 입력하세요 :s
수학점수를 입력해주세요 :12
영어점수를 입력해주세요 :12

{'name': 's', 'math': 12, 'english': 12}

## 실습 3

In [22]:
x = {"name":"김민지","math":40,"english":60}

In [24]:
x["math"] = 80

In [25]:
x

{'name': '김민지', 'math': 80, 'english': 60}

## 실습 4

In [39]:
user_1 = int(input('값을 입력하세요 :'))
user_2 = int(input('값을 입력하세요 :'))
user_3 = int(input('값을 입력하세요 :'))
user_4 = int(input('값을 입력하세요 :'))
user_5 = int(input('값을 입력하세요 :'))

값을 입력하세요 :2
값을 입력하세요 :4
값을 입력하세요 :6
값을 입력하세요 :2
값을 입력하세요 :4

In [40]:
sum = user_1 + user_2 + user_3 + user_4 + user_5
average = sum /5

In [41]:
print(f'합계 : {sum}, 평균 :{average}')

합계 : 18, 평균 :3.6

## 실습 5

In [42]:
user_1 = int(input('값을 입력하세요 :'))
user_2 = int(input('값을 입력하세요 :'))
user_3 = int(input('값을 입력하세요 :'))
user_4 = int(input('값을 입력하세요 :'))
user_5 = int(input('값을 입력하세요 :'))

값을 입력하세요 :2
값을 입력하세요 :4
값을 입력하세요 :6
값을 입력하세요 :2
값을 입력하세요 :4

In [44]:
user = user_1, user_2, user_3, user_4, user_5
user

(2, 4, 6, 2, 4)

In [45]:
list(user)

[2, 4, 6, 2, 4]

## 실습 6

In [122]:
x = [2, 5, 7, 5, 8, 3, 6, 7, 3, 3, 7, 8, 9, 10, 2]

for idx in x:
    if idx == 3 :
        print('숫자가 3 입니다.')
    elif idx == 7 :
        print('숫자가 7 입니다.')
    else :
        print(idx)

2
5
숫자가 7 입니다.
5
8
숫자가 3 입니다.
6
숫자가 7 입니다.
숫자가 3 입니다.
숫자가 3 입니다.
숫자가 7 입니다.
8
9
10
2

## 실습 7

In [123]:
x = [2, 5, 7, 5, 8, 3, 4, 5, 7]

for idx in range(len(x)) :
    if x == 3 and x == 7 :
        print(0)
    else :
        print(idx)

0
1
2
3
4
5
6
7
8

## 실습 8

In [85]:
user = int(input('숫자를 하나 입력해주세요 :'))

if user>10 :
    print('10보다 크다.')
else:
    print('10보다 작다')

숫자를 하나 입력해주세요 :13
10보다 크다.

## 실습 9

In [96]:
first = int(input('첫번째 점수 :'))
second = int(input('두번째 점수 :'))
third =int(input('세번째 점수 :'))

average = (first + second + third)/3

첫번째 점수 :80
두번째 점수 :70
세번째 점수 :95

In [97]:
if average > 50 :
    print('합격')
else :
    print('불합격')

합격

## 실습 10

In [112]:
first = int(input('첫번째 점수 :'))
second = int(input('두번째 점수 :'))
third = int(input('세번째 점수 :'))

average = (first + second + third)/3


if first < 30 :
    print('불합격')
elif second < 30:
    print('불합격')
elif third < 30:
    print('불합격')
elif average > 50:
    print('합격')
else :
    print('불합격')

# if first < 30 and second < 30 and third < 30:
#     print('불합격')
# elif average > 50:
#     print('합격')
# else :
#     print('불합격')

# if average > 50:
#     print('합격')
# elif first < 30 :
#     print('불합격')
# elif second < 30:
#     print('불합격')
# elif third < 30:
#     print('불합격')
# else :
#     print('불합격')

첫번째 점수 :80
두번째 점수 :70
세번째 점수 :20
불합격

## 실습 11

In [10]:
num =[]

for idx in range(10):
    x=int(input('숫자를 입력하세요 :'))
    
    if x ==0:
        num.append(x)
    elif x % 2 ==0:
        num.append('짝수')
    else:
        num.append('홀수')
        
num

숫자를 입력하세요 :1
숫자를 입력하세요 :2
숫자를 입력하세요 :3
숫자를 입력하세요 :0
숫자를 입력하세요 :1
숫자를 입력하세요 :2
숫자를 입력하세요 :3
숫자를 입력하세요 :0
숫자를 입력하세요 :12
숫자를 입력하세요 :3

['홀수', '짝수', '홀수', 0, '홀수', '짝수', '홀수', 0, '짝수', '홀수']

# 12

In [12]:
m=[]

for idx in range(3):
    n=input('이름 :')
    g=input('성별 :')
    a=int(input('나이 :'))
    
    s ={
        'name':n,
        'gender':g,
        'age':a
    }
    
    m.append(s)
    
m

이름 :a
성별 :s
나이 :14
이름 :s
성별 :d
나이 :1
이름 :s
성별 :a
나이 :1

[{'name': 'a', 'gender': 's', 'age': 14},
 {'name': 's', 'gender': 'd', 'age': 1},
 {'name': 's', 'gender': 'a', 'age': 1}]

# 13

In [15]:
for idx in range(4):
    a=int(input('첫번째'))
    b=int(input('두번째'))
    c=int(input('세번째'))
    d=input('어떤 계산 ?')
    
    s=a+b+c
    c=s/3
    
    if '평균' == d:
        print(f'평균은 {c}입니다')
    elif '합계' == d:
        print(f'합계는 {s}입니다')
    elif '전체' == d:
        print(f'평균 {c}, 합계 {s}')  
    else:
        print('잘못입력했습니다.')

첫번째1
두번째2
세번째3
어떤 계산 ?전체
평균 2.0, 합계 6
첫번째1
두번째2
세번째3
어떤 계산 ?합계
합계는 6입니다
첫번째1
두번째2
세번째3
어떤 계산 ?평균
평균은 2.0입니다
첫번째1
두번째2
세번째3
어떤 계산 ?ㄴ
잘못입력했습니다.

In [9]:
b=0
c=0
    
x = [2, 5, 7, 5, 8, 3, 4, 5, 7]


for idx in range(len(x)):
    a += x[idx]
    c += 1

print(f"평균 : {c}")

평균 : 9